/* 찐따같은 글씨체 좀 어떻게 좀 할 수 없나?*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 234, 248);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header.top {
  height: 80px;
  background-color: rgb(255, 200, 233);
  display: flex;
  /* 부모에 해당코드 있어야 자식들이 flex 영향 이어받음*/
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;

}

header.top>div {
  flex: 0 0 calc(100%/3);
  display: flex;
  justify-content: center;
  align-items: center;

}

.top.left {
  justify-content: flex-start;
  padding-left: 20px;
}

/*img 관련 중복코드는 합쳐버리자&봤을때 이해 쉽게*/
.top img {
  border-radius: 50%;
  cursor: pointer;
}

.top.left img {
  width: 30px;
  height: 30px;
  /*border-radius: 50%;
    cursor: pointer; 위에서 공통으로 처리했으니까*/
  transition: box-shadow 0.3s;

}

.top.left img:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.top.center {
  flex-direction: column;
  gap: 5px;
}

.top.center h1 {
  font-size: 1.1rem;
  font-weight: 1000;
  color: #333131;
  margin: 0;
  /*h1의 기본여백 지울 것(해당 태그는 기본적으로 위아래 여백을 줌)*/
}

.top.center p {
  font-size: 0.8rem;
  color: #c12929;
  margin: 0;
  /*위와 마찬가지*/
}

.top.right {
  justify-content: flex-end;
  padding-right: 20px;
}

.top.right img {
  width: 32px;
  height: 32px;
  /* border-radius: 50%; (깃허브로고는 시그니처사진처럼 동그랗게 안해도되나?->해야자
    cursor: pointer;*/
}

nav.side {
  width: 170px;
  background-color: rgb(255, 255, 255);
  margin-left: 27px;
  padding: 10px;
  position: sticky;
  top: 80px;
  /* flex-shrink: 0;[수정]옆에 있는 콘텐츠가 밀고 들어와도 절대 좁아지지 마*/
  border-radius: 10px;
  /* height: calc(100vh - 80px);
    (일반적인 블로그나 그렇지... 과제에서는 안해도될듯?*/
}

.side ul

/* 왜 넌 .side.ul이 아닌거니?->아, 내가 정의한 클래스가 아니니까*/
  {
  list-style: none;
  /*리스트점 지우는 마법*/
  display: flex;
  flex-direction: column;
  gap: 1px;

}

.side ul li a {
  text-decoration: none;
  display: block;
  padding: 13px;
  font-weight: 600;
  color: #444;
  align-items: flex-start;
  border-radius: 25px;
}

.side ul li:first-child a {
  border-radius: 20px 20px 10px 10px;
}

.side ul li:last-child a {
  border-radius: 10px 10px 20px 20px;
}

.side ul li a:hover {
  background-color: rgb(255, 242, 242);
}

.middle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

main.content {
  flex: 1;
  padding: 40px;
  min-width: 0;
  /*메인영역이 스크롤 화면밖으로나가서*/
}

#photo h2 {
  font-size: 0.95rem;
  padding-bottom: 15px;
  color: #333131;
}

.grid-zone {
  display: grid;
  /*비율을 생각해라*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* repeat은 무슨 용도임?-> repeat: 똑같은 크기의 칸을 여러개 만들 때 쓰는 복사기
//방법-> repeat(횟수, 크기)*/
  grid-auto-rows: 200px;
  gap: 13px;

}

.grid-item {
  width: 100%;
  height: 100%;
  /* 부모가 정한 200px에 몸을 맞춰라!->도대체 무슨의미지? */
  position: relative;
}

.grid-item img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  /* object-fit: cover; [중요]:사진이 상자 크기에 맞춰 예쁘게 잘림*/
  border-radius: 10px;
}

.grid-item img:hover {
  transform: scale(1.025);
}

.grid-item:nth-child(3) {
  grid-column: span 2;
}

.grid-item:nth-child(4) {
  grid-column: span 3;
  grid-row: span 2;
}

#love h2 {
  font-size: 0.95rem;
  padding-top: 20px;
  padding-bottom: 15px;
  color: #333131;
}

.wish-list {
  display: flex;
  gap: 15px;
  /*와 이 코드순서중요하다고?*/
  overflow-x: auto;
  /* 넘치면 가로 스크롤 생성*/
  width: 100%;
  /*네 영역 안에서만 놀아*/
  padding-bottom: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.wish-list::-webkit-scrollbar {
  display: none;
  /* 스크롤바 영역 자체를 없애버림 */
}

.card-list {
  flex: 0 0 auto;
  /* 크기가 줄어들지 않게 고정 */
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.card-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*찌그러짐 방지*/
  transition: transform 0.3s;
  border-radius: 10px;
}

#interest h2 {
  font-size: 0.95rem;
  padding-top: 20px;
  padding-bottom: 15px;
  color: #333131;
}

.card-zone {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  /* <가장중요>카드가 넘치면 아래로! */
  gap: 13px;
  width: 100%;
}

.card {
  background-color: white;
  border-radius: 13px;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  /* 5열 기준 계산: (100% / 5) - 여백 */
  /*width:calc(20%-16px)*/
  /*-16px로 여백주기*/
  /*transition: transform 0.3s, box-shadow 0.3s;*/
}

.card:hover {
  transform: translateY(-0.5px);
  /*상승[심화]이해X*/
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-image-wrapper img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;


}

.card-body {
  padding: 10px;
  text-align: start;
}

.card-title h3 {
  font-size: 0.75rem;
  padding-top: 1px;
  padding-bottom: 1px;
  color: #333131;
}

.card-buttons {
  display: flex;
  gap: 10px;
  padding: 0 15px;
  justify-content: center;
  /*align의종류 알아야할필요(O)*/
}

.card-buttons button {
  flex: 1;
  /*화면비율 동일하게 나눠갖도록*/
  border: none;
  border-radius: 20px;
  font-size: 0.8rem;
  cursor: pointer;
}

.btn-like {
  background-color: lightskyblue;
}

.btn-like:hover {
  background-color: rgb(94, 167, 196);
}

.btn-dislike {
  background-color: lightpink;
}

.btn-dislike:hover {
  background-color: rgb(235, 97, 120);
}

/*열계산 이제 알겠음 하하하*/

#message h2 {
  font-size: 0.95rem;
  padding-top: 20px;
  padding-bottom: 15px;
  color: #333131;
}

.message-zone {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.message-list {
  list-style: none;
}

/*왜 아래 항목 아예 안들지?*/
.message-item {
  padding: 2px;
  gap: 10px;
  font-weight: 100;
}

/* [과제의중심] 가상 요소로 아이콘 추가하기 */
.message-item::before {
  content: "📢";
}

.message-item::after {
  content: "🆒🆙";
}

.footer {
  background-color: rgb(255, 200, 233);
  /*display와 center는 무슨관계성인가?*/
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.footer p {
  font-size: 0.75rem;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #333131;
}