/*전체레이아웃: 화면 중앙에 잡합시키자*/
main {
  width: 80%; /*양옆10%씩비워/박스바깥*/
  margin: 0 auto; /*변수2개:상하/좌우*/
  padding: 20px; /*박스안쪽*/

  display: flex;
  flex-direction: column; /*세로로차곡차곡*/
  gap: 30px; /*main요소들간의 숨구멍*/
}

/*정확히 삼등분(1주차과제활용?)*/
header.top {
  background-color: var(--header-bg);
  display: flex;
  height: 60px;
}

/*.top-left, .top-center, .top-right와같음*/
header.top>div {
  color: var(--gray);
  /*동일하게 삼등분나눠먹어*/
  display: flex;
  flex: 0 0 calc(100%/3);
  align-items: center;
}
.top-left {
  justify-content: flex-start;
  padding-left: 60px;
} 
.top-center {
  justify-content: center;
} 
.top-right {
  justify-content: flex-end;
  padding-right: 60px;
}

body {
  background-color: var(--body-bg);
}

/*구현명세의 의도는 위와같은 코드인지?
  아니면 아래와 같은 코드가 정답인지?

  header.top>div {
  color: var(--gray);
  padding: 0 60px;
  display: flex;
  flex: 0 0 calc(100%/3);
  align-items: center;
}
.top-left {justify-content: flex-start;} 
.top-center {justify-content: center;} 
.top-right {justify-content: flex-end;}
/*